* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.wrap {
  width: $desktop-wrap;
  margin: 0 auto;
  outline: 1px solid red;
}

.hidden {
  position: absolute;
  left: -999999px;
  width:0;
  height:0;
  visibility: hidden;
}