* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.wrap {
  width: $desktop-wrap;
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - #{$desktop-wrap} / 2);
  padding-right: calc(50% - #{$desktop-wrap} / 2);
}

.hidden {
  position: absolute;
  left: -999999px;
  width:0;
  height:0;
  visibility: hidden;
}