.search {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-form {
  opacity: 1;
  width:200px;
  z-index: 2;
  position: relative;
}

.search-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 0;

}