.search {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-form {
  opacity: 0;
  width:0px;
  z-index: -2;
  position: relative;
  transition: 0.5s;

  &-open {
    opacity: 1;
    width:200px;
    z-index: 2;
  }
}
.search-field {
  width: 100%;
  padding: 5px;
  border: 1px solid $grey;
  border-radius: 0;
}